@using ShopsDbEntities

@model Shop[]
@{
	ViewData["Title"] = "Shops";
}

<h1>Магазины</h1>

@foreach (var shop in Model)
{
	<div>
		<p>@shop.Name</p>
		<a asp-controller="ProductCategories" asp-route-shopId="@shop.Id">
			<img src="@shop.ImgUrl" />
		</a>
	</div>
}