@using Blazored.LocalStorage

@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager

<div>
	<div class="top-row pl-4 navbar navbar-dark">
		<h1 class="navbar-brand">Orders</h1>
	</div>
	<ul class="nav flex-column">
		<li class="nav-item px-3" style="color:white">
			Kek
		</li>
	</ul>
</div>

@code {
}
