@using ShopDeliveryApplication.Models.Entities

@model BucketProduct[]
@{
	ViewData["Title"] = "Products";
}

<h1>Продукты</h1>

@{ await Html.RenderPartialAsync("_GetProducts", Model); }

<script type="text/javascript">
	function addProductToBucket(id) {
		//$.ajax({
		//	type: "GET",
		//	url: "Products/AddToBucket",
		//	data: { "productId": id },
		//});


	}
</script>